/* Cross browser compatibility */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }

div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* CSS snippet tools */

.center { text-align: center;}

.right { text-align: right;}

.left { text-align: left;}

.justify { text-align: justify;}

.float-left { float: left;}

.float-right {  float: right;}

.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

hr {
  border-top: 1px solid #D8D8D8;
}

/* Arrow Box */

.arrow_box_1 {
  position: relative;
  background: #FFF;
  border: 5px solid #03aa67;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.arrow_box_1:after, .arrow_box_1:before {
  bottom: 100%;
  left: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_1:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box_1:before {
  border-color: rgba(3, 170, 103, 0);
  border-bottom-color: #03aa67;
  border-width: 36px;
  margin-left: -36px;
}

.arrow_box_1 h3 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 1px #E6E6E6;
}

.arrow_box_2 {
  position: relative;
  background: #FFF;
  border: 5px solid #03aa67;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.arrow_box_2:after, .arrow_box_2:before {
  bottom: 100%;
  left: 55%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_2:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box_2:before {
  border-color: rgba(3, 170, 103, 0);
  border-bottom-color: #03aa67;
  border-width: 36px;
  margin-left: -36px;
}

.arrow_box_2 h3 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 1px #E6E6E6;
}

.arrow_box_3 {
  position: relative;
  background: #FFF;
  border: 5px solid #03aa67;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.arrow_box_3:after, .arrow_box_3:before {
  bottom: 100%;
  left: 80%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_3:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box_3:before {
  border-color: rgba(3, 170, 103, 0);
  border-bottom-color: #03aa67;
  border-width: 36px;
  margin-left: -36px;
}

.arrow_box_3 h3 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 1px #E6E6E6;
}