<header>
  <div class="wrapper">
    <div class="logo">
      <nav>
        <a href="#top"><img src="assets/synthesis-logo.png" alt="Synthesis Advisory Services, Ltd. Nairobi, Kenya"></img></a>
        <a href="#top"><h1><span class="green">S</span>YNTHESIS <span class="green">A</span>DVISORY <span class="green">S</span>ERVICES</h1></a>
        <span id="tagline"><i>"Building the <span class="green">future</span>, today."</i></span>
      </nav>
    </div><!-- Logo -->

      <nav id="navigation">
        <ul>
          <li><a href="#services-anchor">Services</a></li>
          <li><a href="#about-anchor">About</a></li>
          <li><a href="#clients-anchor">Clients</a></li>
          <li><a href="#contact-anchor">Contact</a></li>
        </ul>
      </nav><!-- Navigation Links -->
  </div><!-- Container for Entire Navbar -->
</header>
